input[type="checkbox"] + label.ha_checkbox_label, label.ha_checkbox_label {
	margin-right: 10px;
	margin-bottom: 5px;
	display: inline-block;
}

div.ha_filter_row {
	vertical-align: middle;
	display: inline-block;
	clear: both;
}

.ha-settings-form .button {
	margin-right: 6px;
}


.tablenav {
	height: auto; 
	min-height: 30px;
}
.tablenav label, .tablenav input, .tablenav select, .tablenav button {
	margin-bottom: 5px;
}
.tablenav input, .tablenav select, .tablenav button {
	margin-right: 5px;
}



.report-container {
	width: 100%px;
	height: 425px;
}

.report-wrapper {
	padding: 10px 20px 20px 10px;
	margin: 0px 0 10px 0;
	box-sizing: border-box;
	width: 100%;
}

body.admin-color-fresh .report-wrapper {
	background: #fff;
	background-color: #f9f9f9;
	border: 1px solid #dfdfdf;
}

body.admin-color-classic .report-wrapper {
	background: #fff;
	background-color: #f7fcfe;
	border: 1px solid #d1e5ee;
}

.flot-container {
	width: 100%;
	display: inline-block;
}

.report-placeholder {
	margin: 10px;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

#user-activity-summary-metabox { margin-top: 0px; margin-bottom: 0px; }

#post-body #normal-sortables { min-height: 0px; }
.tablenav .actions { padding: 0px 8px 0 0; }
#website-summary-metabox, #poststuff { padding-top: 0px; }


div.tablenav select, div.tablenav input[type="text"] {
	max-width: 280px;
	min-width: 100px;
}